.page-container.container
  = yield
  .jumbotron
    .container
      %h2.display-3="우리는?!"
  %h3 숭실대학교 컴퓨터학부 팀 SOAPT(채종민, 이성화) 입니다.
  %p 전공종합설계1 과목에서 우연히 만나서 시작하게 된 팀입니다.
  %p 문의는 martionlee@gmail.com으로 부탁드립니다.


